@charset "UTF-8";
/*! SirLouis File Manager for 7 OS -Web: https://github.com/7os/faderbox-soswapp
  ! Requires 7os/theme-soswapp available @ https://github.com/7os/theme-soswapp
*/
#upload-trigger {
  position: relative;
  width: 180px;
  height: 160px;
  margin: 0 auto;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: dashed 4px rgba(189, 195, 199, 0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-align: center;
  padding: 35px 12px;
  color: #bdc3c7;
}
#upload-trigger:hover {
  padding-top: 40px;
  border-width: 5px;
  color: #1a1a1a;
  border-color: #bdc3c7;
  cursor: pointer;
}

#upload-stats {
  position: relative;
}

#crp-port {
  position: relative;
}
#crp-port #crp-tgt-wrap {
  position: relative;
  padding: 5px;
  border: solid 1px #bdc3c7;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: auto;
  text-align: center !important;
}
#crp-port #crp-tgt-wrap #crp-target {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#crp-port #crp-tgt-wrap #crp-target.ini-view {
  max-width: 100%;
  height: auto;
}

#file-list {
  position: relative;
}
#file-list .file-box {
  position: relative;
}
#file-list .file-box.thumb {
  height: 250px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #34495e;
}
#file-list .file-box.thumb img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
#file-list .file-box.thumb .thumb-icon-wrap {
  height: 70px;
  width: 70px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  -webkit-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1.5px 1.1px -1px #000;
  -moz-box-shadow: 0 1.5px 1.1px -1px #000;
  box-shadow: 0 1.5px 1.1px -1px #000;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#file-list .file-box.thumb .thumb-icon-wrap:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#file-list .file-box.thumb .thumb-icon-wrap .thumb-icon {
  display: block;
  position: relative;
  height: 60px;
  width: 60px;
  -webkit-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: solid 1px #34495e;
  color: #2196F3;
  text-align: center;
  padding: 10px;
}
#file-list .file-box.thumb .thumb-icon-wrap .thumb-icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
  font-size: 2.5em;
  font-weight: bold;
}
#file-list .file-box.thumb .thumb-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: black;
  font-size: 0.82em;
}
#file-list .file-box.thumb .thumb-caption h2, #file-list .file-box.thumb .thumb-caption h3, #file-list .file-box.thumb .thumb-caption h4 {
  margin: 0;
  padding: 10px 10px;
  max-height: 70px;
  overflow: hidden;
  padding-right: 35px;
}
#file-list .file-box.thumb .thumb-caption .expand-tool {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
#file-list .file-box.thumb .thumb-caption:hover, #file-list .file-box.thumb .thumb-caption.xpand {
  height: 100%;
  opacity: 1;
}
#file-list .file-box.thumb .thumb-caption .btn-stack {
  margin: 0;
  padding: 8px;
  text-align: center;
}
#file-list .file-box.thumb .thumb-caption .btn-stack .file-action {
  margin: 2px;
  padding: 6px 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: solid 2px transparent;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float: none;
  display: inline-block;
}
#file-list .file-box.thumb .thumb-caption .btn-stack .file-action:hover {
  border-color: #34495e;
  background-color: transparent;
  color: #34495e;
}
#file-list .file-box.image .thumb-icon::before {
  content: "";
  color: #E91E63;
}
#file-list .file-box.audio .thumb-icon::before {
  content: "";
  color: #d35400;
}
#file-list .file-box.document .thumb-icon::before {
  content: "";
  color: #3F51B5;
}
#file-list .file-box.video .thumb-icon::before {
  content: "";
  color: #9C27B0;
}
#file-list .file-box.archive .thumb-icon::before {
  content: "";
  color: #2c3e50;
}
#file-list .file-box.script .thumb-icon::before {
  content: "";
  color: #673AB7;
}
#file-list .file-box.graphic .thumb-icon::before {
  content: "";
  color: #CDDC39;
}
#file-list .file-box.unknown .thumb-icon::before {
  content: "";
  color: inherit;
}
#file-list.no-result::after {
  content: "No files here!";
  display: block;
  padding: 18px;
  border: dashed 2px #bdc3c7;
  color: #bdc3c7;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: fantasy;
  margin: 0 auto;
  width: 60%;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.data-pager {
  position: relative;
  float: right;
  margin: 20px 0 20px;
  padding: 8px;
}
.data-pager .pager-btn {
  position: relative;
  float: right;
}
.data-pager .pager-btn .sos-btn {
  display: inline-block;
  margin: 0;
  padding: 10px 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.data-pager .pager-btn .sos-btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.data-pager .pager-btn .sos-btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.data-pager .pager-num {
  position: relative;
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  padding: 12px 15px;
}

/*# sourceMappingURL=file-manager.css.map */
